# MOST OF THIS CODE WAS COPIED FROM LECTURE 2.2. THE PIECES OF CODE WHICH HAVE NOT BEEN COPIED WILL BE POINTED OUT AS PART OF THE COMMENTS

In [1]:
#This cell imports all the correct libraries to run the code successfully

from collections import Counter
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction import _stop_words
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation
import numpy as np
import pandas as pd
import re
import nltk
import matplotlib.pyplot as plt
lem = WordNetLemmatizer()

In [2]:
#This cell loads the corpus which comes as a CSV file, into a pandas dataframe. It was copied from lecture 2.2

blog_df = pd.read_csv('data/blogtext.csv', encoding='utf-8')
blog_df.shape #<--This part shows how many words are contained in the entire document and how many columns the 
              #CSV file contains

(681284, 7)

In [3]:
#This cell provides a sample of the first 20 entries in the pandas dataframe

blog_df.head(20)

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...
5,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",I had an interesting conversation...
6,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",Somehow Coca-Cola has a way of su...
7,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004","If anything, Korea is a country o..."
8,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",Take a read of this news article ...
9,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",I surf the English news sites a l...
10,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004","Ah, the Korean language...it look..."
11,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",If you click on my profile you'll...
12,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",Last night was pretty fun...mostl...
13,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",There is so much that is differen...
14,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004","urlLink Here it is, the super..."
15,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",One thing I love about Seoul (and...
16,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",urlLink Wonderful oh-gyup-sal...
17,3581210,male,33,InvestmentBanking,Aquarius,"18,June,2004",Here is the latest from the Korea...
18,3581210,male,33,InvestmentBanking,Aquarius,"17,June,2004","Well, I stand corrected, again. ..."
19,3581210,male,33,InvestmentBanking,Aquarius,"16,June,2004",So I've been in Vancouver a few d...

In [4]:
#This is the tokeniser, as explained in the critical report. This code was copied from lecture 2.2.

def my_tokeniser(doc):
    #Split on spaces
    tokens = re.split(r'[-\s.,;!?]+', doc)
    processed = []
    for t in tokens:
        #Lemmatise and make lowercase
        t = lem.lemmatize(t.lower())
        #Remove stop words
        if not t in _stop_words.ENGLISH_STOP_WORDS:
            processed = processed + [t]
    #Return an array of tokens for that document
    return processed

# Zodiac

In [5]:
#I wrote the code in this cell myself. As explained in the critical report this takes a slice of the corpus
#by star sign to analyse. It's a bit clunky but it works.

aquarius_text = [] #<-- The entries for the aquarius star sign are loaded in this list. The same is repeated
aries_text = []    #for every star sign.
cancer_text = []
capricorn_text = []
gemini_text = []
leo_text = []
libra_text = []
pisces_text = []
sagittarus_text = []
scorpio_text = []
taurus_text = []
virgo_text = []

for i, item in enumerate(blog_df.sign):
    if i >= 40000 and i <= 50000:       #<-- This is the part of the code doing the actual slice
        if item == 'Aquarius':
            aquarius_text.append(blog_df[blog_df.sign == 'Aquarius'].text[i]) #<-- This appends all the entries
        elif item == 'Aries':                                                 #for aquarius star sign to the
            aries_text.append(blog_df[blog_df.sign == 'Aries'].text[i])       #aquarius list above. The same is
        elif item == 'Cancer':                                                #repeated for every star sign.
            cancer_text.append(blog_df[blog_df.sign == 'Cancer'].text[i])
        elif item == 'Capricorn':
            capricorn_text.append(blog_df[blog_df.sign == 'Capricorn'].text[i])
        elif item == 'Gemini':
            gemini_text.append(blog_df[blog_df.sign == 'Gemini'].text[i])
        elif item == 'Leo':
            leo_text.append(blog_df[blog_df.sign == 'Leo'].text[i])
        elif item == 'Libra':
            libra_text.append(blog_df[blog_df.sign == 'Libra'].text[i])
        elif item == 'Pisces':
            pisces_text.append(blog_df[blog_df.sign == 'Pisces'].text[i])
        elif item == 'Sagittarus':
            sagittarus_text.append(blog_df[blog_df.sign == 'Sagittarus'].text[i])
        elif item == 'Scorpio':
            scorpio_text.append(blog_df[blog_df.sign == 'Scorpio'].text[i])
        elif item == 'Taurus':
            taurus_text.append(blog_df[blog_df.sign == 'Taurus'].text[i])
        elif item == 'Virgo':
            virgo_text.append(blog_df[blog_df.sign == 'Virgo'].text[i])

In [6]:
# I wrote the code in this cell myself. It casts all of the list from the cell above into strings and stores them
#into variables of the same name. On second thoughts I should have called them something different. The code on this
# cell is necessary but I cannot remember why.

aquarius_text = str(aquarius_text)
aries_text = str(aries_text)
cancer_text = str(cancer_text)
capricorn_text = str(capricorn_text)
gemini_text = str(gemini_text)
leo_text = str(leo_text)
libra_text = str(libra_text)
pisces_text = str(pisces_text)
sagittarus_text = str(sagittarus_text)
scorpio_text = str(scorpio_text)
taurus_text = str(taurus_text)
virgo_text = str(virgo_text)

In [7]:
#I wrote the code in this cell myself. This code concatenates all of the strings from the cell above into one long
#string separated by three newlines so as to make it easier to split into chapters.

sign_text = aquarius_text + "\n\n\n" + aries_text + "\n\n\n" + cancer_text\
            + "\n\n\n" + capricorn_text + "\n\n\n" + gemini_text\
            + "\n\n\n" + leo_text + "\n\n\n" + libra_text + "\n\n\n" + pisces_text\
            + "\n\n\n" + sagittarus_text + "\n\n\n" + scorpio_text\
            + "\n\n\n" + taurus_text + "\n\n\n" + virgo_text

In [8]:
#I wrote this code myself. This a regex that splits the long string from above into chapters and stores them into
#a variable called signs_occupation. 

signs_occupation = re.split(r'\n\n\n', sign_text)

# ZODIAC BOW TF

In [9]:
#Using the CountVectorizer to get a bag of words using a custom tokeniser. This code was copied from lecture 2.2,
#it tokenises all the words from each chapter into vectors BoW as explained in the critical report.

count_vectoriser = CountVectorizer(tokenizer=my_tokeniser)
bag_of_words = count_vectoriser.fit_transform(signs_occupation)
print(bag_of_words.todense().shape) #<--This shows how many documents there are, and the number of words contained
                                    #across all documents.

(12, 71632)

In [10]:
#This code was copied from lecture 2.2. I don't exaclty what it does but I believe it counts the TF from the BoW, as
#explained in the critical report.

vocab = count_vectoriser.get_feature_names_out()
bag_of_words_df = pd.DataFrame(bag_of_words.todense(), columns = vocab)

In [11]:
#Topic 20 most common words (we've already removed STOP WORDS). This code was copied from lecture 2.2 although I
#added some entries to it. It displays the 20 least common words from the blog entries according to star signs

print(bag_of_words_df.iloc[0].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[1].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[2].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[3].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[4].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[5].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[6].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[7].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[8].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[9].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[10].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[11].sort_values()[-20:])

state           474
learning        479
time            485
president       504
literacy        520
la              590
&               592
&nbsp           669
education       695
ha              697
library         804
digest          843
school          875
eric            975
information    1003
student        1042
'              1214
urllink        1350
wa             1374
"              1607
Name: 0, dtype: int64
 ha        159
it's      174
want      182
day       185
love      189
think     202
got       206
thing     206
really    212
time      238
don't     263
know      276
people    281
'         308
&nbsp     341
like      392
i'm       443
just      465
"         580
wa        671
Name: 1, dtype: int64
 ha          547
people      550
urllink     567
really      620
got         634
thing       641
don't       650
day         671
know        680
good        697
think       745
'           906
it's        908
time       1127
i'm        1181
like       1206
&nbsp      1246
just       1249
"          1654
wa         2634
Name: 2, dtype: int64
 people      538
don't       564
thing       568
ha          578
today       578
going       592
really      651
think       666
time        692
know        695
got         715
good        717
day         836
urllink     876
like        933
just        980
i'm        1022
'          1770
wa         2436
"          2514
Name: 3, dtype: int64
 ha         332
people     332
good       335
think      379
got        417
don't      421
thing      460
really     465
love       469
know       506
day        513
it's       525
'          547
like       584
time       626
just       677
i'm        783
"          898
&nbsp     1223
wa        1580
Name: 4, dtype: int64
 work        267
got         285
think       294
really      333
good        337
day         356
know        374
ha          375
people      381
thing       389
it's        394
i'm         477
time        480
just        499
like        509
'           696
urllink     963
&nbsp      1047
"          1179
wa         1240
Name: 5, dtype: int64
 went       348
&nbsp      349
really     355
got        362
ok         367
know       374
don't      375
car        389
time       422
work       426
i'll       440
day        459
like       492
just       543
today      567
going      587
it's       648
wa        1225
i'm       1408
"         1814
Name: 6, dtype: int64
 day        169
lorx       173
home       187
&nbsp      192
coz        212
know       250
got        250
hahax      273
time       283
i'm        295
just       308
says:      331
urllink    337
like       350
went       350
u          354
'          502
den        569
wa         779
"          790
Name: 7, dtype: int64
 delusional              0
dek                     0
deman                   0
demand'                 0
demeanor                0
demeaning               0
demasido                0
demasiados              0
demasiado               0
demaning                0
demand                  0
ï¿½rachel                 0
demanding               0
demanded                0
demande                 0
demandas                0
demanda                 0
demand:                 0
demanding/irritating    0
[]                      1
Name: 8, dtype: int64
 work       149
want       159
thing      161
really     163
going      172
think      182
good       183
ha         186
day        191
don't      193
urllink    236
know       251
time       271
just       288
i'm        305
like       311
'          416
&nbsp      455
"          549
wa         705
Name: 9, dtype: int64
 good       317
going      344
i've       345
ha         371
got        386
thing      410
think      415
don't      443
day        454
&nbsp      474
really     513
know       535
time       590
it's       591
'          682
just       748
like       762
i'm        769
"         1142
wa        1611
Name: 10, dtype: int64
 going       286
think       316
ha          348
don't       361
it's        364
thing       386
day         387
people      387
got         402
good        421
know        430
urllink     451
really      468
i'm         516
time        555
like        566
'           679
just        739
"          1148
wa         1656
Name: 11, dtype: int64

Topic 0 = aquarius<br>
Topic 1 = aries<br>
Topic 2 = cancer<br>
Topic 3 = capricorn<br>
Topic 4 = gemini<br>
Topic 5 = leo<br>
Topic 6 = libra<br>
Topic 7 = pisces<br>
Topic 8 = sagittarus<br>
Topic 9 = scorpio<br>
Topic 10 = taurus<br>
Topic 11 = virgo<br>

# ZODIAC TFIDF

In [12]:
#Using the TFIDF Vectorizer to get TFIDF vectors with custom tokeniser. This code was copied from lecture 2.2
#it tokenises all the words from each chapter into TF-IDF vectors as explained in the critical report

tfidf_vectoriser = TfidfVectorizer(tokenizer=my_tokeniser)
tfidf = tfidf_vectoriser.fit_transform(signs_occupation)
print(tfidf.todense().shape)

(12, 71632)

In [13]:
#This code was copied from lecture 2.2. It displays the TF-IDF weight values for the least common vectors for
#each document. according to star sign

tfidf_df = pd.DataFrame(tfidf.todense(), columns = vocab)
for i in range(len(tfidf_df)):
    print("Signs occupation", i)
    print(tfidf_df.iloc[i].sort_values(ascending = False).head(20))

Signs occupation 0
"              0.278510
digest         0.264529
wa             0.238129
urllink        0.233970
eric           0.232415
'              0.210399
literacy       0.181793
student        0.180590
information    0.173831
school         0.151647
digest:        0.141013
library        0.139342
ha             0.120798
education      0.120451
&nbsp          0.115945
librarian      0.113620
los            0.108597
&              0.102600
la             0.102253
president      0.087349
Name: 0, dtype: float64
Signs occupation 1
wa        0.367346
"         0.317527
just      0.254569
i'm       0.242525
like      0.214605
&nbsp     0.186684
spense    0.173226
'         0.168618
people    0.153836
know      0.151099
don't     0.143982
time      0.130296
really    0.116062
got       0.112777
thing     0.112777
think     0.110587
love      0.103470
day       0.101280
want      0.099638
it's      0.095258
Name: 1, dtype: float64
Signs occupation 2
wa       0.406212
"        0.255078
maro     0.200931
just     0.192619
&nbsp    0.192157
like     0.185988
i'm      0.182132
time     0.173805
it's     0.140031
'        0.139722
dia      0.125094
think    0.114893
nak      0.109524
good     0.107491
saya     0.105796
know     0.104869
day      0.103481
don't    0.100242
thing    0.098854
got      0.097775
Name: 2, dtype: float64
Signs occupation 3
"          0.434128
wa         0.420658
'          0.305651
i'm        0.176483
just       0.169230
like       0.161114
urllink    0.151271
day        0.144364
good       0.123814
got        0.123469
know       0.120015
time       0.119497
think      0.115008
really     0.112417
going      0.102229
ha         0.099811
today      0.099811
thing      0.098085
don't      0.097394
people     0.092904
Name: 3, dtype: float64
Signs occupation 4
wa               0.418467
&nbsp            0.323914
"                0.237837
i'm              0.207379
freeatlasst:     0.189439
just             0.179305
time             0.165797
like             0.154674
'                0.144874
it's             0.139047
day              0.135869
know             0.134015
love             0.124216
really           0.123156
thing            0.121832
don't            0.111503
got              0.110443
smahtcooky79:    0.108452
think            0.100379
good             0.088725
Name: 4, dtype: float64
Signs occupation 5
wa         0.377971
"          0.359377
&nbsp      0.319141
urllink    0.293537
'          0.212151
like       0.155151
just       0.152103
time       0.146311
i'm        0.145397
it's       0.120097
thing      0.118573
people     0.116134
ha         0.114306
know       0.114001
_____      0.111097
day        0.108514
good       0.102723
really     0.101503
think      0.089616
got        0.086872
Name: 5, dtype: float64
Signs occupation 6
"         0.470294
i'm       0.365035
wa        0.317591
it's      0.167999
going     0.152184
today     0.146999
just      0.140777
like      0.127555
day       0.118999
i'll      0.114074
work      0.110444
time      0.109407
gti       0.101336
car       0.100851
don't     0.097222
know      0.096963
ok        0.095148
got       0.093851
really    0.092037
&nbsp     0.090481
Name: 6, dtype: float64
Signs occupation 7
"          0.308944
den        0.306055
wa         0.304642
hahax      0.215359
'          0.196316
says:      0.194043
lorx       0.179892
btden      0.147657
sae        0.146456
u          0.138438
like       0.136874
went       0.136874
urllink    0.131790
lahx       0.123741
just       0.120449
i'm        0.115365
time       0.110672
coz        0.104990
hakx       0.098785
got        0.097767
Name: 7, dtype: float64
Signs occupation 8
[]              1.0
"               0.0
obsered         0.0
obscurring      0.0
obscurity       0.0
obscures        0.0
obscured        0.0
obscure         0.0
obscuirty       0.0
observacion     0.0
obscenity       0.0
obscenely       0.0
obscene')       0.0
obrien          0.0
obra            0.0
oboe            0.0
observable      0.0
observadores    0.0
occurred        0.0
observatory     0.0
Name: 8, dtype: float64
Signs occupation 9
wa            0.416352
"             0.324223
&nbsp         0.268709
'             0.245677
like          0.183667
i'm           0.180124
just          0.170084
time          0.160044
know          0.148233
urllink       0.139374
passiflora    0.124054
don't         0.113980
day           0.112799
ha            0.109846
good          0.108074
think         0.107484
going         0.101578
pls           0.096497
really        0.096263
thing         0.095082
Name: 9, dtype: float64
Signs occupation 10
wa        0.440529
"         0.312280
i'm       0.210283
like      0.208369
just      0.204541
'         0.186493
it's      0.161609
time      0.161336
know      0.146296
really    0.140280
&nbsp     0.129616
day       0.124147
don't     0.121139
think     0.113482
thing     0.112115
got       0.105552
ha        0.101450
i've      0.094340
going     0.094067
good      0.086684
Name: 10, dtype: float64
Signs occupation 11
wa         0.491731
"          0.340886
just       0.219438
'          0.201622
like       0.168068
time       0.164801
i'm        0.153221
really     0.138968
urllink    0.133920
know       0.127684
good       0.125011
got        0.119370
people     0.114915
day        0.114915
thing      0.114619
it's       0.108086
don't      0.107195
ha         0.103335
think      0.093833
going      0.084925
Name: 11, dtype: float64

Topic 0 = aquarius<br>
Topic 1 = aries<br>
Topic 2 = cancer<br>
Topic 3 = capricorn<br>
Topic 4 = gemini<br>
Topic 5 = leo<br>
Topic 6 = libra<br>
Topic 7 = pisces<br>
Topic 8 = sagittarus<br>
Topic 9 = scorpio<br>
Topic 10 = taurus<br>
Topic 11 = virgo<br>

# OCCUPATIONS

In [14]:
#I wrote the code in this cell myself. As explained in the critical report this takes a slice of the corpus
#by occupation to analyse. It's a bit clunky but it works.

student_text = []
technology_text = []
arts_text = []
education_text = []
communications_media_text = []
internet_text = []
non_profit_text = []
engineering_text = []
law_text = []
publishing_text = []
science_text = []
government_text = []

for i, item in enumerate(blog_df.topic):
    if i >= 40000 and i <= 50000:        #<-- This is the part of the code doing the actual slice
        if item == 'Student':
            student_text.append(blog_df[blog_df.topic == item].text[i])   #<-- This appends all the entries
        elif item == 'Technology':                                        #for student occupation to the list above
            technology_text.append(blog_df[blog_df.topic == item].text[i]) #the same is repeated for every occupation
        elif item == 'Arts':
            arts_text.append(blog_df[blog_df.topic == item].text[i])
        elif item == 'Education':
            education_text.append(blog_df[blog_df.topic == item].text[i])
        elif item == 'Communications-Media':
            communications_media_text.append(blog_df[blog_df.topic == item].text[i])
        elif item == 'Internet':
            internet_text.append(blog_df[blog_df.topic == item].text[i])
        elif item == 'Non-Profit':
            non_profit_text.append(blog_df[blog_df.topic == item].text[i])
        elif item == 'Engineering':
            engineering_text.append(blog_df[blog_df.topic == item].text[i])
        elif item == 'Law':
            law_text.append(blog_df[blog_df.topic == item].text[i])
        elif item == 'Publishing':
            publishing_text.append(blog_df[blog_df.topic == item].text[i])
        elif item == 'Science':
            science_text.append(blog_df[blog_df.topic == item].text[i])
        elif item == 'Government':
            government_text.append(blog_df[blog_df.topic == item].text[i])

In [15]:
# I wrote the code in this cell myself. It casts all of the list from the cell above into strings and stores them
#into variables of the same name. On second thoughts I should have called them something different. The code on this
# cell is necessary but I cannot remember why.

student_text = str(student_text)
technology_text = str(technology_text)
arts_text = str(arts_text)
education_text = str(education_text)
communications_media_text = str(communications_media_text)
internet_text = str(internet_text)
non_profit_text = str(non_profit_text)
engineering_text = str(engineering_text)
law_text = str(law_text)
publishing_text = str(publishing_text)
science_text = str(science_text)
government_text = str(government_text)

In [16]:
#I wrote the code in this cell myself. This code concatenates all of the strings from the cell above into one long
#string separated by three newlines so as to make it easier to split into chapters.

topic_text = student_text + "\n\n\n" + technology_text + "\n\n\n" + arts_text + "\n\n\n" + education_text\
            + "\n\n\n" + communications_media_text + "\n\n\n" + internet_text + "\n\n\n" + non_profit_text\
            + "\n\n\n" + engineering_text + "\n\n\n" + law_text + "\n\n\n" + publishing_text\
            + "\n\n\n" + science_text + "\n\n\n" + government_text

In [17]:
#I wrote this code myself. This a regex that splits the long string from above into chapters and stores them into
#a variable called signs_occupation.

topics_occupation = re.split(r'\n\n\n', topic_text)

# OCCUPATIONS BOW TF

In [18]:
#Using the CountVectorizer to get a bag of words using a custom tokeniser. This code was copied from lecture 2.2,
#it tokenises all the words from each chapter into vectors BoW as explained in the critical report.

count_vectoriser = CountVectorizer(tokenizer=my_tokeniser)
bag_of_words = count_vectoriser.fit_transform(topics_occupation)
print(bag_of_words.todense().shape) #<--This shows how many documents there are, and the number of words contained
                                    #across all documents.

(12, 52484)

In [19]:
#This code was copied from lecture 2.2. I don't exaclty what it does but I believe it counts the TF from the BoW, as
#explained in the critical report.

vocab = count_vectoriser.get_feature_names_out()
bag_of_words_df = pd.DataFrame(bag_of_words.todense(), columns = vocab)

In [20]:
#Topic 20 most common words (we've already removed STOP WORDS). This code was copied from lecture 2.2 although I
#added some entries to it. It displays the 20 least common words from the blog entries according to occupation

print(  bag_of_words_df.iloc[0].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[1].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[2].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[3].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[4].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[5].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[6].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[7].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[8].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[9].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[10].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[11].sort_values()[-20:])

going     1038
thing     1052
&nbsp     1097
it's      1120
people    1229
think     1238
good      1269
went      1275
time      1330
day       1380
know      1393
don't     1424
really    1470
got       1513
like      2045
just      2148
i'm       2357
'         2656
wa        4125
"         4442
Name: 0, dtype: int64
 really      53
new         54
want        56
think       57
good        61
don't       64
day         73
know        74
like        87
ha          89
hakx        95
it's        95
time       105
just       106
brought    106
i'm        108
wa         242
'          284
urllink    305
"          441
Name: 1, dtype: int64
 make        75
really      76
i've        76
way         77
it's        86
know        88
ha          93
life        98
game        99
urllink    109
thing      110
like       113
people     119
just       120
&nbsp      135
i'm        137
'          147
time       163
"          223
wa         270
Name: 2, dtype: int64
 new             420
research        421
state           476
learning        487
president       504
literacy        521
la              585
ha              620
&nbsp           678
education       703
library         802
school          820
digest          843
eric            973
information    1001
'              1045
student        1070
wa             1212
urllink        1352
"              1430
Name: 3, dtype: int64
 going       95
don't       97
think      101
thing      114
ha         117
people     117
u          117
it's       122
day        133
know       138
love       139
i'm        145
&nbsp      152
just       159
time       162
like       192
urllink    206
'          324
wa         336
"          414
Name: 4, dtype: int64
 today       44
don't       44
i'm         47
life        49
got         49
ha          50
thing       54
work        56
good        56
think       57
people      57
know        61
day         64
just        69
like        86
time        87
'           91
urllink     92
wa         168
"          196
Name: 5, dtype: int64
 did        14
way        14
getting    15
going      15
thing      17
really     19
think      20
time       20
oh         22
ha         22
it's       22
day        25
know       27
god        28
i'm        29
&nbsp      29
like       41
"          52
wa         54
just       56
Name: 6, dtype: int64
 photo         8
director      8
start         9
need          9
text          9
try           9
today        10
character    10
line         11
player       12
time         13
page         13
wa           14
'            15
3            17
&nbsp        18
button       20
game         22
urllink      32
"            44
Name: 7, dtype: int64
 don't      107
going      108
urllink    109
new        111
work       114
got        115
day        118
ha         121
i've       128
think      132
really     133
know       135
it's       137
time       177
like       197
i'm        207
just       260
&nbsp      270
"          282
wa         640
Name: 8, dtype: int64
 album         5
new           5
cd            5
allied        5
troop         6
itâs          6
i'm           6
war           6
currently     6
gb            6
going         7
ha            7
u             7
player        8
ipod          8
music         8
just          9
like          9
wa           13
â            19
Name: 9, dtype: int64
 i'm        165
u          165
got        170
people     175
day        180
know       181
new        181
look       183
good       194
urllink    202
year       206
film       222
time       240
it's       266
just       271
ha         297
'          319
like       370
"          558
wa         673
Name: 10, dtype: int64
 don't      14
away       14
think      14
work       15
want       15
new        15
goliath    16
say        17
little     18
love       18
cream      19
just       20
law        20
i'm        21
like       23
time       24
ha         30
'          32
wa         53
"          84
Name: 11, dtype: int64

Topic 0 = student<br>
Topic 1 = technology<br>
Topic 2 = arts<br>
Topic 3 = education<br>
Topic 4 = communications_media<br>
Topic 5 = internet<br>
Topic 6 = non_profit<br>
Topic 7 = engineering<br>
Topic 8 = law<br>
Topic 9 = publishing<br>
Topic 10 = science<br>
Topic 11 = government<br>

# OCCUPATIONS TFIDF

In [21]:
#Using the TFIDF Vectorizer to get TFIDF vectors with custom tokeniser. This code was copied from lecture 2.2
#it tokenises all the words from each chapter into TF-IDF vectors as explained in the critical report

tfidf_vectoriser = TfidfVectorizer(tokenizer=my_tokeniser)
tfidf = tfidf_vectoriser.fit_transform(topics_occupation)#(chapters)
print(tfidf.todense().shape)

(12, 52484)

In [22]:
#This code was copied from lecture 2.2. It displays the TF-IDF weight values for the least common vectors for
#each document according to occupation.

tfidf_df = pd.DataFrame(tfidf.todense(), columns = vocab)
for i in range(len(tfidf_df)):
    print("topics occupation", i)
    print(tfidf_df.iloc[i].sort_values(ascending = False).head(20))

topics occupation 0
"         0.390974
wa        0.363073
'         0.233775
i'm       0.207458
just      0.189062
like      0.179996
really    0.139742
got       0.133171
don't     0.125337
know      0.122609
day       0.121464
den       0.119829
time      0.117063
went      0.112222
good      0.111694
think     0.108966
people    0.108174
&nbsp     0.104284
it's      0.098580
today     0.095538
Name: 0, dtype: float64
topics occupation 1
"                0.458087
urllink          0.342176
'                0.295004
hakx             0.283392
wa               0.251377
ebot2004:        0.140204
gremlinchief:    0.140204
brought          0.118920
i'm              0.112185
just             0.110107
time             0.109068
it's             0.098681
ha               0.092448
like             0.090371
cigar            0.083734
node             0.076944
know             0.076867
day              0.075828
ip               0.071733
wireless         0.068150
Name: 1, dtype: float64
topics occupation 2
wa         0.322434
"          0.266307
time       0.194655
'          0.175547
&nbsp      0.174121
i'm        0.163605
just       0.143304
people     0.142110
urllink    0.140587
like       0.134945
thing      0.131362
game       0.127689
life       0.126399
ha         0.111061
know       0.105090
it's       0.102701
meme       0.098867
i've       0.098024
really     0.098024
way        0.091953
Name: 2, dtype: float64
topics occupation 3
eric           0.264855
student        0.244005
digest         0.229468
urllink        0.224160
"              0.219521
literacy       0.197256
information    0.193981
wa             0.186055
'              0.160419
library        0.155417
education      0.147603
los            0.139799
school         0.135955
digest:        0.134901
la             0.122827
&nbsp          0.112411
president      0.105820
learning       0.102251
says:          0.099064
librarian      0.097262
Name: 3, dtype: float64
topics occupation 4
"          0.366024
wa         0.297063
'          0.286454
urllink    0.196706
like       0.169750
&nbsp      0.145142
time       0.143227
just       0.140574
love       0.132729
i'm        0.128197
know       0.122008
day        0.117587
it's       0.107862
people     0.103442
ha         0.103442
u          0.103442
thing      0.100789
think      0.089296
don't      0.085759
going      0.083991
Name: 4, dtype: float64
topics occupation 5
"          0.367544
wa         0.315037
skuse:     0.188484
urllink    0.186329
'          0.170645
time       0.163144
like       0.161269
just       0.129390
day        0.120014
know       0.114389
(me):      0.107705
think      0.106888
people     0.106888
good       0.105012
work       0.105012
thing      0.101262
life       0.099241
ha         0.093761
got        0.091886
today      0.089114
Name: 5, dtype: float64
topics occupation 6
just       0.286562
wa         0.276327
"          0.266093
like       0.209804
god        0.167216
&nbsp      0.160276
i'm        0.148398
know       0.138164
oh         0.131384
day        0.127929
it's       0.112578
ha         0.112578
really     0.105009
time       0.102343
think      0.102343
getting    0.089580
adrian     0.088173
thing      0.086992
did        0.077375
going      0.076758
Name: 6, dtype: float64
topics occupation 7
"              0.369102
urllink        0.289924
button         0.249229
game           0.199323
jayce          0.168634
&nbsp          0.163082
3              0.154022
programming    0.131233
page           0.127270
'              0.125830
wa             0.117441
line           0.116485
&quot          0.109656
time           0.109053
player         0.108722
character      0.105896
text           0.095306
software       0.095071
director       0.091787
today          0.090601
Name: 7, dtype: float64
topics occupation 8
wa         0.496577
&nbsp      0.226262
"          0.218804
just       0.201734
i'm        0.160612
gunner     0.153091
like       0.152853
time       0.137335
really     0.111455
i've       0.107265
it's       0.106299
know       0.104747
think      0.102419
ha         0.093884
day        0.091556
urllink    0.091343
got        0.089229
work       0.088453
new        0.086125
week       0.085119
Name: 8, dtype: float64
topics occupation 9
â            0.306988
ipod         0.181563
gb           0.167310
wa           0.166390
napster      0.157836
99]          0.147027
allied       0.139425
like         0.115193
just         0.115193
troop        0.114080
player       0.110589
music        0.110589
jukebox      0.110270
war          0.096943
itâs         0.096943
walkman      0.094701
going        0.089594
ha           0.089594
u            0.089594
currently    0.082942
Name: 9, dtype: float64
topics occupation 10
wa            0.334977
"             0.277737
like          0.184163
'             0.158778
ë§:            0.151517
ëì            0.151517
film          0.151130
ha            0.147828
just          0.134887
it's          0.132398
time          0.119457
passiflora    0.112923
urllink       0.108591
year          0.102534
good          0.096561
look          0.091086
new           0.090090
know          0.090090
day           0.089593
people        0.087104
Name: 10, dtype: float64
topics occupation 11
"             0.416548
wa            0.262822
goliath       0.195685
'             0.158685
cream         0.152545
ha            0.148767
pav           0.128169
time          0.119014
law           0.115746
like          0.114055
i'm           0.104137
just          0.099178
little        0.096405
love          0.096405
mum           0.095764
say           0.091049
vertigo       0.086430
christian'    0.085612
goldie        0.085446
cat           0.075119
Name: 11, dtype: float64

Topic 0 = student<br>
Topic 1 = technology<br>
Topic 2 = arts<br>
Topic 3 = education<br>
Topic 4 = communications_media<br>
Topic 5 = internet<br>
Topic 6 = non_profit<br>
Topic 7 = engineering<br>
Topic 8 = law<br>
Topic 9 = publishing<br>
Topic 10 = science<br>
Topic 11 = government<br>