# MOST OF THIS CODE WAS COPIED FROM LECTURE 2.2. THE PIECES OF CODE WHICH HAVE NOT BEEN COPIED WILL BE POINTED OUT AS PART OF THE COMMENTS

In [1]:
#This cell imports all the correct libraries to run the code successfully

from collections import Counter
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction import _stop_words
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation
import numpy as np
import pandas as pd
import re
import nltk
import matplotlib.pyplot as plt
lem = WordNetLemmatizer()

In [2]:
#This cell loads the corpus which comes as a CSV file, into a pandas dataframe. It was copied from lecture 2.2

blog_df = pd.read_csv('data/blogtext.csv', encoding='utf-8')
blog_df.shape #<--This part shows how many words are contained in the entire document and how many columns the 
              #CSV file contains

(681284, 7)

In [3]:
#This cell provides a sample of the first 20 entries in the pandas dataframe

blog_df.head(20)

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...
5,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",I had an interesting conversation...
6,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",Somehow Coca-Cola has a way of su...
7,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004","If anything, Korea is a country o..."
8,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",Take a read of this news article ...
9,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",I surf the English news sites a l...
10,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004","Ah, the Korean language...it look..."
11,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",If you click on my profile you'll...
12,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",Last night was pretty fun...mostl...
13,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",There is so much that is differen...
14,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004","urlLink Here it is, the super..."
15,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",One thing I love about Seoul (and...
16,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",urlLink Wonderful oh-gyup-sal...
17,3581210,male,33,InvestmentBanking,Aquarius,"18,June,2004",Here is the latest from the Korea...
18,3581210,male,33,InvestmentBanking,Aquarius,"17,June,2004","Well, I stand corrected, again. ..."
19,3581210,male,33,InvestmentBanking,Aquarius,"16,June,2004",So I've been in Vancouver a few d...

In [4]:
#This is the tokeniser, as explained in the critical report. This code was copied from lecture 2.2.

def my_tokeniser(doc):
    #Split on spaces
    tokens = re.split(r'[-\s.,;!?]+', doc)
    processed = []
    for t in tokens:
        #Lemmatise and make lowercase
        t = lem.lemmatize(t.lower())
        #Remove stop words
        if not t in _stop_words.ENGLISH_STOP_WORDS:
            processed = processed + [t]
    #Return an array of tokens for that document
    return processed

# Zodiac

In [5]:
#I wrote the code in this cell myself. As explained in the critical report this takes a slice of the corpus
#by star sign to analyse. It's a bit clunky but it works.

aquarius_text = [] #<-- The entries for the aquarius star sign are loaded in this list. The same is repeated
aries_text = []    #for every star sign.
cancer_text = []
capricorn_text = []
gemini_text = []
leo_text = []
libra_text = []
pisces_text = []
sagittarus_text = []
scorpio_text = []
taurus_text = []
virgo_text = []

for i, item in enumerate(blog_df.sign):
    if i >= 50000 and i <= 55000:       #<-- This is the part of the code doing the actual slice
        if item == 'Aquarius':
            aquarius_text.append(blog_df[blog_df.sign == 'Aquarius'].text[i]) #<-- This appends all the entries
        elif item == 'Aries':                                                 #for aquarius star sign to the
            aries_text.append(blog_df[blog_df.sign == 'Aries'].text[i])       #aquarius list above. The same is
        elif item == 'Cancer':                                                #repeated for every star sign.
            cancer_text.append(blog_df[blog_df.sign == 'Cancer'].text[i])
        elif item == 'Capricorn':
            capricorn_text.append(blog_df[blog_df.sign == 'Capricorn'].text[i])
        elif item == 'Gemini':
            gemini_text.append(blog_df[blog_df.sign == 'Gemini'].text[i])
        elif item == 'Leo':
            leo_text.append(blog_df[blog_df.sign == 'Leo'].text[i])
        elif item == 'Libra':
            libra_text.append(blog_df[blog_df.sign == 'Libra'].text[i])
        elif item == 'Pisces':
            pisces_text.append(blog_df[blog_df.sign == 'Pisces'].text[i])
        elif item == 'Sagittarus':
            sagittarus_text.append(blog_df[blog_df.sign == 'Sagittarus'].text[i])
        elif item == 'Scorpio':
            scorpio_text.append(blog_df[blog_df.sign == 'Scorpio'].text[i])
        elif item == 'Taurus':
            taurus_text.append(blog_df[blog_df.sign == 'Taurus'].text[i])
        elif item == 'Virgo':
            virgo_text.append(blog_df[blog_df.sign == 'Virgo'].text[i])

In [6]:
# I wrote the code in this cell myself. It casts all of the list from the cell above into strings and stores them
#into variables of the same name. On second thoughts I should have called them something different. The code on this
# cell is necessary but I cannot remember why.

aquarius_text = str(aquarius_text)
aries_text = str(aries_text)
cancer_text = str(cancer_text)
capricorn_text = str(capricorn_text)
gemini_text = str(gemini_text)
leo_text = str(leo_text)
libra_text = str(libra_text)
pisces_text = str(pisces_text)
sagittarus_text = str(sagittarus_text)
scorpio_text = str(scorpio_text)
taurus_text = str(taurus_text)
virgo_text = str(virgo_text)

In [7]:
#I wrote the code in this cell myself. This code concatenates all of the strings from the cell above into one long
#string separated by three newlines so as to make it easier to split into chapters.

sign_text = aquarius_text + "\n\n\n" + aries_text + "\n\n\n" + cancer_text\
            + "\n\n\n" + capricorn_text + "\n\n\n" + gemini_text\
            + "\n\n\n" + leo_text + "\n\n\n" + libra_text + "\n\n\n" + pisces_text\
            + "\n\n\n" + sagittarus_text + "\n\n\n" + scorpio_text\
            + "\n\n\n" + taurus_text + "\n\n\n" + virgo_text

In [8]:
#I wrote this code myself. This a regex that splits the long string from above into chapters and stores them into
#a variable called signs_occupation. 

signs_occupation = re.split(r'\n\n\n', sign_text)

# ZODIAC BOW TF

In [9]:
#Using the CountVectorizer to get a bag of words using a custom tokeniser. This code was copied from lecture 2.2,
#it tokenises all the words from each chapter into vectors BoW as explained in the critical report.

count_vectoriser = CountVectorizer(tokenizer=my_tokeniser)
bag_of_words = count_vectoriser.fit_transform(signs_occupation)
print(bag_of_words.todense().shape) #<--This shows how many documents there are, and the number of words contained
                                    #across all documents.

(12, 48972)

In [10]:
#This code was copied from lecture 2.2. I don't exaclty what it does but I believe it counts the TF from the BoW, as
#explained in the critical report.

vocab = count_vectoriser.get_feature_names_out()
bag_of_words_df = pd.DataFrame(bag_of_words.todense(), columns = vocab)

In [11]:
#Topic 20 most common words (we've already removed STOP WORDS). This code was copied from lecture 2.2 although I
#added some entries to it. It displays the 20 least common words from the blog entries according to star signs

print(bag_of_words_df.iloc[0].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[1].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[2].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[3].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[4].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[5].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[6].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[7].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[8].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[9].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[10].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[11].sort_values()[-20:])

yeah                117
work                118
really              120
going               125
think               129
time                132
don't               146
know                149
urllink             160
love                177
cherryvixxen840:    186
it's                233
'                   241
like                244
just                272
pixxxie87:          279
i'm                 351
wa                  351
"                   444
&nbsp               654
Name: 0, dtype: int64
 good       111
ha         114
need       116
friend     131
going      135
think      139
thing      140
urllink    143
really     151
don't      157
day        158
i'm        187
'          189
know       191
time       197
just       262
&nbsp      293
like       295
wa         431
"          470
Name: 1, dtype: int64
 ha         189
it's       190
good       192
don't      193
urllink    194
want       196
day        199
going      226
think      235
&nbsp      256
thing      260
time       267
really     276
know       281
like       334
'          344
i'm        357
just       405
wa         615
"          628
Name: 2, dtype: int64
 don't     141
thing     149
think     155
got       158
ha        162
going     164
day       172
know      180
really    187
it's      202
time      218
&nbsp     224
like      230
i'm       245
people    254
just      267
)         277
'         368
"         439
wa        598
Name: 3, dtype: int64
 ha          443
really      456
thing       469
people      472
don't       474
good        484
think       499
day         527
it's        549
got         557
&nbsp       567
i'm         620
time        679
know        681
'           739
like        804
urllink     949
just       1090
"          1666
wa         1711
Name: 4, dtype: int64
 people    220
got       237
ha        251
going     261
good      268
think     274
it's      277
thing     279
really    292
don't     293
day       299
&nbsp     343
know      363
time      363
'         459
like      497
just      525
i'm       538
"         835
wa        968
Name: 5, dtype: int64
 people      196
went        200
urllink     204
ha          209
work        211
i'm         227
thing       248
good        252
got         265
think       270
u           286
day         297
know        303
time        348
just        373
&nbsp       412
like        419
'           684
"           786
wa         1138
Name: 6, dtype: int64
 think      187
going      192
urllink    197
really     203
thing      214
*          215
good       216
&nbsp      222
know       231
it's       243
grace      248
day        278
time       295
'          323
just       347
levi       356
like       445
”          485
"          510
wa         901
Name: 7, dtype: int64
 deutsche       0
deux           0
dev            0
dev's          0
devalue        0
devastated     0
develops       0
devastating    0
develop        0
develope       0
developed      0
developed)     0
developer      0
developer'     0
developer:     0
developing     0
development    0
devastation    0
�that�s        0
[]             1
Name: 8, dtype: int64
 going         105
make          107
experience    114
e             119
good          131
time          133
people        135
don't         152
thing         159
life          167
really        168
know          177
it's          188
'             189
like          193
think         212
i'm           254
just          287
wa            401
"             454
Name: 9, dtype: int64
 people      394
thing       423
love        442
'           463
want        520
think       525
fucking     529
today       548
time        569
going       600
i'm         640
day         644
really      678
don't       717
it's        886
like        992
"          1212
know       1266
just       1362
wa         2030
Name: 10, dtype: int64
 really     73
make       75
think      80
thing      89
life       89
day        91
work       91
don't      92
know       95
ha        108
i'm       121
it's      140
like      143
time      148
'         156
just      185
"         206
people    214
&nbsp     295
wa        310
Name: 11, dtype: int64

Topic 0 = aquarius<br>
Topic 1 = aries<br>
Topic 2 = cancer<br>
Topic 3 = capricorn<br>
Topic 4 = gemini<br>
Topic 5 = leo<br>
Topic 6 = libra<br>
Topic 7 = pisces<br>
Topic 8 = sagittarus<br>
Topic 9 = scorpio<br>
Topic 10 = taurus<br>
Topic 11 = virgo<br>

# ZODIAC TFIDF

In [12]:
#Using the TFIDF Vectorizer to get TFIDF vectors with custom tokeniser. This code was copied from lecture 2.2
#it tokenises all the words from each chapter into TF-IDF vectors as explained in the critical report

tfidf_vectoriser = TfidfVectorizer(tokenizer=my_tokeniser)
tfidf = tfidf_vectoriser.fit_transform(signs_occupation)
print(tfidf.todense().shape)

(12, 48972)

In [13]:
#This code was copied from lecture 2.2. It displays the TF-IDF weight values for the least common vectors for
#each document. according to star sign

tfidf_df = pd.DataFrame(tfidf.todense(), columns = vocab)
for i in range(len(tfidf_df)):
    print("Signs occupation", i)
    print(tfidf_df.iloc[i].sort_values(ascending = False).head(20))

Signs occupation 0
pixxxie87:           0.457052
&nbsp                0.402926
cherryvixxen840:     0.304701
"                    0.273546
i'm                  0.216249
wa                   0.216249
daintydewdrop488:    0.188390
just                 0.167578
like                 0.150327
'                    0.148479
it's                 0.143550
love                 0.109049
urllink              0.098575
know                 0.091798
don't                0.089950
time                 0.081324
think                0.079476
going                0.077012
really               0.073931
work                 0.072699
Name: 0, dtype: float64
Signs occupation 1
"          0.368110
wa         0.337565
like       0.231048
&nbsp      0.229481
just       0.205202
robyn:     0.156191
time       0.154293
know       0.149594
'          0.148027
i'm        0.146461
happi      0.124952
day        0.123748
don't      0.122964
really     0.118265
urllink    0.111999
thing      0.109650
think      0.108867
going      0.105734
friend     0.102601
(one)      0.102044
Name: 1, dtype: float64
Signs occupation 2
"          0.355797
wa         0.348432
just       0.229455
i'm        0.202260
'          0.194895
like       0.189229
know       0.159202
really     0.156369
time       0.151270
thing      0.147304
&nbsp      0.145038
think      0.133140
going      0.128041
day        0.112745
want       0.111045
urllink    0.109912
don't      0.109345
good       0.108779
it's       0.107646
ha         0.107079
Name: 2, dtype: float64
Signs occupation 3
wa        0.389654
"         0.286050
'         0.239787
)         0.180492
just      0.173976
people    0.165505
i'm       0.159641
like      0.149867
&nbsp     0.145957
time      0.142048
it's      0.131622
really    0.121848
know      0.117287
day       0.112074
going     0.106862
ha        0.105558
got       0.102952
think     0.100997
thing     0.097088
don't     0.091875
Name: 3, dtype: float64
Signs occupation 4
wa         0.379448
"          0.369468
just       0.241729
urllink    0.210459
like       0.178303
'          0.163888
know       0.151025
time       0.150581
i'm        0.137497
[          0.130900
&nbsp      0.125743
got        0.123526
it's       0.121751
day        0.116872
think      0.110663
good       0.107336
don't      0.105119
people     0.104675
thing      0.104010
really     0.101127
Name: 4, dtype: float64
Signs occupation 5
wa        0.399959
"         0.345006
i'm       0.222291
just      0.216920
like      0.205351
'         0.189650
know      0.149985
time      0.149985
&nbsp     0.141721
day       0.123541
don't     0.121062
really    0.120649
thing     0.115277
it's      0.114451
think     0.113212
good      0.110732
going     0.107840
ha        0.103708
got       0.097924
people    0.090900
Name: 5, dtype: float64
Signs occupation 6
wa         0.468263
"          0.323422
'          0.281451
ladee      0.190375
like       0.172409
&nbsp      0.169529
just       0.153481
time       0.143195
know       0.124678
day        0.122209
u          0.117683
think      0.111099
got        0.109042
fh         0.106179
good       0.103693
thing      0.102047
i'm        0.093406
work       0.086822
ha         0.085999
urllink    0.083942
Name: 6, dtype: float64
Signs occupation 7
wa         0.424153
levi       0.275145
”          0.266860
"          0.240087
like       0.209487
just       0.163353
'          0.152055
time       0.138874
day        0.130871
grace      0.126154
it's       0.114394
*          0.109367
know       0.108745
&nbsp      0.104508
good       0.101684
thing      0.100742
really     0.095564
urllink    0.092739
going      0.090386
think      0.088032
Name: 7, dtype: float64
Signs occupation 8
[]                                                          1.0
"                                                           0.0
org/default1                                                0.0
oregan                                                      0.0
oregano                                                     0.0
oregon                                                      0.0
oregon'                                                     0.0
orentaion                                                   0.0
oreo                                                        0.0
org                                                         0.0
org/                                                        0.0
org/default                                                 0.0
org/media/video/beautifulmidnight/apparitions_480           0.0
oredi                                                       0.0
org/media/video/whitelightrockandroll/alertstatusred_480    0.0
org/rh/                                                     0.0
org/victoria/photos/fall03/                                 0.0
org/wnl/index                                               0.0
organ                                                       0.0
organic                                                     0.0
Name: 8, dtype: float64
Signs occupation 9
"             0.372529
wa            0.329040
just          0.235498
i'm           0.208419
think         0.173956
like          0.158366
'             0.155084
it's          0.154263
know          0.145237
really        0.137852
life          0.137032
thing         0.130467
don't         0.124723
people        0.110774
time          0.109133
good          0.107492
e             0.097645
experience    0.093543
make          0.087799
going         0.086158
Name: 9, dtype: float64
Signs occupation 10
wa         0.437224
just       0.293350
know       0.272673
"          0.261042
like       0.213658
it's       0.190828
don't      0.154429
really     0.146029
day        0.138706
i'm        0.137844
fucking    0.133170
going      0.129229
time       0.122552
today      0.118029
think      0.113075
want       0.111998
cb         0.100334
'          0.099722
love       0.095199
thing      0.091106
Name: 10, dtype: float64
Signs occupation 11
wa        0.353804
&nbsp     0.336684
people    0.244239
"         0.235108
just      0.211141
'         0.178043
time      0.168913
like      0.163206
it's      0.159782
kimani    0.148700
i'm       0.138098
ha        0.123261
gk        0.121388
know      0.108424
don't     0.105000
work      0.103859
day       0.103859
thing     0.101576
life      0.101576
says:     0.094098
Name: 11, dtype: float64

Topic 0 = aquarius<br>
Topic 1 = aries<br>
Topic 2 = cancer<br>
Topic 3 = capricorn<br>
Topic 4 = gemini<br>
Topic 5 = leo<br>
Topic 6 = libra<br>
Topic 7 = pisces<br>
Topic 8 = sagittarus<br>
Topic 9 = scorpio<br>
Topic 10 = taurus<br>
Topic 11 = virgo<br>

# OCCUPATIONS

In [14]:
#I wrote the code in this cell myself. As explained in the critical report this takes a slice of the corpus
#by occupation to analyse. It's a bit clunky but it works.

student_text = []
technology_text = []
arts_text = []
education_text = []
communications_media_text = []
internet_text = []
non_profit_text = []
engineering_text = []
law_text = []
publishing_text = []
science_text = []
government_text = []

for i, item in enumerate(blog_df.topic):
    if i >= 35000 and i <= 36000:        #<-- This is the part of the code doing the actual slice
        if item == 'Student':
            student_text.append(blog_df[blog_df.topic == item].text[i])   #<-- This appends all the entries
        elif item == 'Technology':                                        #for student occupation to the list above
            technology_text.append(blog_df[blog_df.topic == item].text[i]) #the same is repeated for every occupation
        elif item == 'Arts':
            arts_text.append(blog_df[blog_df.topic == item].text[i])
        elif item == 'Education':
            education_text.append(blog_df[blog_df.topic == item].text[i])
        elif item == 'Communications-Media':
            communications_media_text.append(blog_df[blog_df.topic == item].text[i])
        elif item == 'Internet':
            internet_text.append(blog_df[blog_df.topic == item].text[i])
        elif item == 'Non-Profit':
            non_profit_text.append(blog_df[blog_df.topic == item].text[i])
        elif item == 'Engineering':
            engineering_text.append(blog_df[blog_df.topic == item].text[i])
        elif item == 'Law':
            law_text.append(blog_df[blog_df.topic == item].text[i])
        elif item == 'Publishing':
            publishing_text.append(blog_df[blog_df.topic == item].text[i])
        elif item == 'Science':
            science_text.append(blog_df[blog_df.topic == item].text[i])
        elif item == 'Government':
            government_text.append(blog_df[blog_df.topic == item].text[i])

In [15]:
# I wrote the code in this cell myself. It casts all of the list from the cell above into strings and stores them
#into variables of the same name. On second thoughts I should have called them something different. The code on this
# cell is necessary but I cannot remember why.

student_text = str(student_text)
technology_text = str(technology_text)
arts_text = str(arts_text)
education_text = str(education_text)
communications_media_text = str(communications_media_text)
internet_text = str(internet_text)
non_profit_text = str(non_profit_text)
engineering_text = str(engineering_text)
law_text = str(law_text)
publishing_text = str(publishing_text)
science_text = str(science_text)
government_text = str(government_text)

In [16]:
#I wrote the code in this cell myself. This code concatenates all of the strings from the cell above into one long
#string separated by three newlines so as to make it easier to split into chapters.

topic_text = student_text + "\n\n\n" + technology_text + "\n\n\n" + arts_text + "\n\n\n" + education_text\
            + "\n\n\n" + communications_media_text + "\n\n\n" + internet_text + "\n\n\n" + non_profit_text\
            + "\n\n\n" + engineering_text + "\n\n\n" + law_text + "\n\n\n" + publishing_text\
            + "\n\n\n" + science_text + "\n\n\n" + government_text

In [17]:
#I wrote this code myself. This a regex that splits the long string from above into chapters and stores them into
#a variable called signs_occupation.

topics_occupation = re.split(r'\n\n\n', topic_text)

# OCCUPATIONS BOW TF

In [18]:
#Using the CountVectorizer to get a bag of words using a custom tokeniser. This code was copied from lecture 2.2,
#it tokenises all the words from each chapter into vectors BoW as explained in the critical report.

count_vectoriser = CountVectorizer(tokenizer=my_tokeniser)
bag_of_words = count_vectoriser.fit_transform(topics_occupation)
print(bag_of_words.todense().shape) #<--This shows how many documents there are, and the number of words contained
                                    #across all documents.

(12, 12350)

In [19]:
#This code was copied from lecture 2.2. I don't exaclty what it does but I believe it counts the TF from the BoW, as
#explained in the critical report.

vocab = count_vectoriser.get_feature_names_out()
bag_of_words_df = pd.DataFrame(bag_of_words.todense(), columns = vocab)

In [20]:
#Topic 20 most common words (we've already removed STOP WORDS). This code was copied from lecture 2.2 although I
#added some entries to it. It displays the 20 least common words from the blog entries according to occupation

print(  bag_of_words_df.iloc[0].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[1].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[2].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[3].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[4].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[5].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[6].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[7].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[8].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[9].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[10].sort_values()[-20:],'\n',\
        bag_of_words_df.iloc[11].sort_values()[-20:])

people      136
captain     141
going       142
time        143
thing       146
it's        155
kuronue:    159
don't       175
think       187
i'm         200
really      202
jack        206
baka:       209
know        234
just        241
&nbsp       251
like        259
wa          433
'           443
"           648
Name: 0, dtype: int64
 people      24
u           24
really      24
year        24
think       25
way         26
good        28
day         29
urllink     35
credit      36
ha          37
know        38
don't       38
'           42
just        42
time        55
like        56
&nbsp       65
wa         120
"          123
Name: 1, dtype: int64
 new         35
going       36
know        38
i'm         39
)           40
good        40
film        40
&rarr       40
night       41
think       41
video       43
time        52
like        59
it's        60
work        63
just        65
'           76
wa         103
urllink    136
"          220
Name: 2, dtype: int64
 life      23
say       25
ha        26
i’m       28
told      29
today     30
feel      32
got       33
'         33
thing     33
want      34
really    35
&nbsp     39
think     40
"         45
know      51
just      58
time      58
like      58
wa        90
Name: 3, dtype: int64
 stuff      20
life       21
people     21
2004       22
talk       22
u          22
ok         22
work       24
betting    24
"          26
film       27
scene      29
idea       29
think      31
just       33
bet        37
story      37
guy        42
soccer     49
like       59
Name: 4, dtype: int64
 day        10
like       10
way        10
time       11
i've       12
urllink    12
got        13
'          13
going      14
went       14
weekend    16
jay        16
know       16
think      18
just       20
good       20
i'm        28
i'll       28
wa         34
"          54
Name: 5, dtype: int64
 think       20
officer     20
film        21
did         22
just        23
like        24
time        25
jp          26
'i          26
jr          27
ha          27
hussam      28
said        35
people      37
u           39
urllink     57
"           68
:           89
wa          96
'          126
Name: 6, dtype: int64
 dissolve         0
distance         0
distance*        0
distant          0
disterbing       0
distinct         0
dodging          0
distinction      0
distinguished    0
distract         0
distracted       0
distracting      0
distraction      0
district         0
disturb          0
disturbing       0
ditch            0
distinctive      0
…                0
[]               1
Name: 7, dtype: int64
 dissolve         0
distance         0
distance*        0
distant          0
disterbing       0
distinct         0
dodging          0
distinction      0
distinguished    0
distract         0
distracted       0
distracting      0
distraction      0
district         0
disturb          0
disturbing       0
ditch            0
distinctive      0
…                0
[]               1
Name: 8, dtype: int64
 dissolve         0
distance         0
distance*        0
distant          0
disterbing       0
distinct         0
dodging          0
distinction      0
distinguished    0
distract         0
distracted       0
distracting      0
distraction      0
district         0
disturb          0
disturbing       0
ditch            0
distinctive      0
…                0
[]               1
Name: 9, dtype: int64
 dissolve         0
distance         0
distance*        0
distant          0
disterbing       0
distinct         0
dodging          0
distinction      0
distinguished    0
distract         0
distracted       0
distracting      0
distraction      0
district         0
disturb          0
disturbing       0
ditch            0
distinctive      0
…                0
[]               1
Name: 10, dtype: int64
 dissolve         0
distance         0
distance*        0
distant          0
disterbing       0
distinct         0
dodging          0
distinction      0
distinguished    0
distract         0
distracted       0
distracting      0
distraction      0
district         0
disturb          0
disturbing       0
ditch            0
distinctive      0
…                0
[]               1
Name: 11, dtype: int64

Topic 0 = student<br>
Topic 1 = technology<br>
Topic 2 = arts<br>
Topic 3 = education<br>
Topic 4 = communications_media<br>
Topic 5 = internet<br>
Topic 6 = non_profit<br>
Topic 7 = engineering<br>
Topic 8 = law<br>
Topic 9 = publishing<br>
Topic 10 = science<br>
Topic 11 = government<br>

# OCCUPATIONS TFIDF

In [21]:
#Using the TFIDF Vectorizer to get TFIDF vectors with custom tokeniser. This code was copied from lecture 2.2
#it tokenises all the words from each chapter into TF-IDF vectors as explained in the critical report

tfidf_vectoriser = TfidfVectorizer(tokenizer=my_tokeniser)
tfidf = tfidf_vectoriser.fit_transform(topics_occupation)#(chapters)
print(tfidf.todense().shape)

(12, 12350)

In [22]:
#This code was copied from lecture 2.2. It displays the TF-IDF weight values for the least common vectors for
#each document according to occupation.

tfidf_df = pd.DataFrame(tfidf.todense(), columns = vocab)
for i in range(len(tfidf_df)):
    print("topics occupation", i)
    print(tfidf_df.iloc[i].sort_values(ascending = False).head(20))

topics occupation 0
"           0.387343
'           0.264804
wa          0.258826
baka:       0.241516
kuronue:    0.183737
jack        0.180593
&nbsp       0.163522
captain     0.162937
like        0.154818
jenn:       0.150226
baka        0.146759
just        0.144058
know        0.139874
sparrow:    0.139825
really      0.120746
i'm         0.119550
think       0.111780
don't       0.104607
demon       0.096265
it's        0.092652
Name: 0, dtype: float64
topics occupation 1
"          0.375646
wa         0.366483
&nbsp      0.216356
like       0.171026
time       0.167972
credit     0.144731
just       0.128269
'          0.128269
rita       0.123986
urllink    0.116499
know       0.116053
don't      0.116053
ha         0.112999
day        0.088567
good       0.085513
iraq       0.085102
bush       0.084426
way        0.079405
think      0.076351
year       0.073297
Name: 1, dtype: float64
topics occupation 2
"          0.487365
urllink    0.328362
wa         0.228176
&rarr      0.171306
'          0.168363
just       0.143994
work       0.139564
it's       0.132918
like       0.130702
time       0.115195
video      0.113705
35mph      0.107066
film       0.096577
night      0.090827
think      0.090827
)          0.088612
good       0.088612
i'm        0.086397
know       0.084181
going      0.079751
Name: 2, dtype: float64
topics occupation 3
wa        0.328646
just      0.211794
like      0.211794
time      0.211794
know      0.186233
i’m       0.169755
"         0.164323
&nbsp     0.155215
think     0.146065
told      0.139402
want      0.135315
really    0.127807
got       0.120504
'         0.120504
thing     0.120504
feel      0.116852
today     0.109549
mama      0.096399
ha        0.094942
say       0.091291
Name: 3, dtype: float64
topics occupation 4
soccer      0.328067
like        0.237925
betting     0.187102
story       0.178103
bet         0.178103
guy         0.169371
just        0.133077
scene       0.127459
think       0.125012
film        0.118668
idea        0.116946
underdog    0.116939
bookie      0.116939
2004        0.116788
simon       0.113819
roommate    0.109143
"           0.104848
work        0.096783
talk        0.096693
ok          0.096693
Name: 4, dtype: float64
topics occupation 5
"            0.411084
wa           0.258831
i'll         0.232315
i'm          0.213155
jay          0.202225
just         0.152253
good         0.152253
think        0.137028
weekend      0.121803
know         0.121803
went         0.106577
going        0.106577
madrid       0.103018
liverpool    0.103018
colin        0.103018
urllink      0.099564
'            0.098965
got          0.098965
i've         0.091352
lake         0.088473
Name: 5, dtype: float64
topics occupation 6
'          0.393691
:          0.366067
wa         0.299955
"          0.212468
urllink    0.194107
hussam     0.169131
jp         0.157050
jr         0.140064
u          0.121857
people     0.115608
said       0.109359
'i         0.106941
officer    0.103751
boston     0.102686
police     0.098563
cw         0.090606
ha         0.084362
bush       0.078149
time       0.078113
like       0.074989
Name: 6, dtype: float64
topics occupation 7
[]          1.0
"           0.0
ounce       0.0
ot          0.0
othe        0.0
other's     0.0
other)      0.0
others)     0.0
others’     0.0
otter       0.0
ouch        0.0
ought       0.0
our&nbsp    0.0
orb         0.0
ours)       0.0
ourself     0.0
out&nbsp    0.0
out'        0.0
out)        0.0
out*        0.0
Name: 7, dtype: float64
topics occupation 8
[]          1.0
"           0.0
ounce       0.0
ot          0.0
othe        0.0
other's     0.0
other)      0.0
others)     0.0
others’     0.0
otter       0.0
ouch        0.0
ought       0.0
our&nbsp    0.0
orb         0.0
ours)       0.0
ourself     0.0
out&nbsp    0.0
out'        0.0
out)        0.0
out*        0.0
Name: 8, dtype: float64
topics occupation 9
[]          1.0
"           0.0
ounce       0.0
ot          0.0
othe        0.0
other's     0.0
other)      0.0
others)     0.0
others’     0.0
otter       0.0
ouch        0.0
ought       0.0
our&nbsp    0.0
orb         0.0
ours)       0.0
ourself     0.0
out&nbsp    0.0
out'        0.0
out)        0.0
out*        0.0
Name: 9, dtype: float64
topics occupation 10
[]          1.0
"           0.0
ounce       0.0
ot          0.0
othe        0.0
other's     0.0
other)      0.0
others)     0.0
others’     0.0
otter       0.0
ouch        0.0
ought       0.0
our&nbsp    0.0
orb         0.0
ours)       0.0
ourself     0.0
out&nbsp    0.0
out'        0.0
out)        0.0
out*        0.0
Name: 10, dtype: float64
topics occupation 11
[]          1.0
"           0.0
ounce       0.0
ot          0.0
othe        0.0
other's     0.0
other)      0.0
others)     0.0
others’     0.0
otter       0.0
ouch        0.0
ought       0.0
our&nbsp    0.0
orb         0.0
ours)       0.0
ourself     0.0
out&nbsp    0.0
out'        0.0
out)        0.0
out*        0.0
Name: 11, dtype: float64

Topic 0 = student<br>
Topic 1 = technology<br>
Topic 2 = arts<br>
Topic 3 = education<br>
Topic 4 = communications_media<br>
Topic 5 = internet<br>
Topic 6 = non_profit<br>
Topic 7 = engineering<br>
Topic 8 = law<br>
Topic 9 = publishing<br>
Topic 10 = science<br>
Topic 11 = government<br>